menu "Device Drivers & Other Modules"

menu "Busses"

source "modules/pci/Kconfig"

endmenu

source "modules/ahci/Kconfig"

source "modules/ide/Kconfig"

source "modules/i8042/Kconfig"

source "modules/rtc/Kconfig"

source "modules/pit/Kconfig"

endmenu
