menu "Device Drivers & Other Modules"

# TODO: move this
menu "Busses"

config INCLUDE_PCI_DRIVER
		bool "PCI Support"
		default y
		help
			"Check this if your target system has a PCI bus."

endmenu

source "modules/ahci/Kconfig"

source "modules/ide/Kconfig"

source "modules/i8042/Kconfig"

source "modules/rtc/Kconfig"

source "modules/pit/Kconfig"

endmenu
