/.vscode
/.cache
/ovmf
/limine
/sysroot
/kernel/limine.h
/toolchain
/hosttools
/mlibc
/docs/html
/include/garn/config.h
*.elf
*.txt
*.hdd
*.iso
*.o
*.d
*.sys
*.grd
.config
.config.old
compile_commands.json
