# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=5
VERBOSE=yes
INTERFACE_BRANDING_COLOUR=3

:GarnOS (KASLR off)
    PROTOCOL=limine

    KASLR=no

    KERNEL_PATH=boot:///kernel.elf
    MODULE_PATH=boot:///initrd.grd

:GarnOS (KASLR on)
    PROTOCOL=limine

    KERNEL_PATH=boot:///kernel.elf
    MODULE_PATH=boot:///initrd.grd
