menu "Platform"

choice
prompt "Architecture"
	default ARCH_X86

	config ARCH_X86
		bool "x86-64"
	config ARCH_DUMMY
		bool "dummy arch (Dont select)"
endchoice

source "kernel/arch/x86/Kconfig"

endmenu
