menu "Platform"

choice
prompt "Architecture"
	default ARCH_X86

	config ARCH_X86
		bool "x86"
	config ARCH_DUMMY
		bool "dummy arch (Dont select)"
endchoice

config ARCH_64BIT
	bool "64-bit Support"
	default y
	help
		"Enable 64-bit support (if applicable)"

source "kernel/arch/x86/Kconfig"

endmenu
